# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/RUN

# Log files
*.Log

# process id file
*.pid

# data files
*.dat

# Folder
data/

# vs code files
*.code-workspace

# other
*.xml
*.iml


